
@import "@fortawesome/fontawesome-free/css/all.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nova-dark/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";

html , body {
    font-family: 'Roboto', sans-serif;

}


.dataview-grid.ui-dataview .ui-dataview-header {
    border-bottom: 0 none;
    display: none;
}